<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
    <style>
        /* Estilos personalizados */
        .navbar {
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
        }
        .welcome-message {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/auth/dashboard}">Index</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Operaciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"th:href="@{/auth/cambiar-contrasena}"></a>Cambiar Password</li>
                        <li><a class="dropdown-item" th:href="@{/mantenimiento/usuario}">Mantenimiento</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a></li>
                    </ul>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="welcome-message">
    <h1>Bienvenido, <span th:text="${session.nomusuario}"></span></h1>
</div>
</body>
</html>